.about {
	padding: 3rem 0;
	min-height: 100vh; /* change height to min-height */
	background-color: var(--grey-color);
}

/* Note: used !important (once in project-library) */
.section-title h2 {
	margin-left: 2.5rem;
	color: var(--black-color) !important;
}

.about-content {
	gap: 4rem;
}
.about-title {
	margin: 1rem 0;
}
.about-img img {
	max-width: 520px;
}

.about-text p {
	margin: 1.8rem 10px;
	opacity: 0.8;
}

.about-title {
	margin: 10px;
}

.container-about {
	min-height: 50vh;
	display: flex; /* add this line */
	flex-direction: column; /* add this line */
}

@media screen and (min-width: 800px) {
	.about-content {
		grid-template-columns: repeat(2, 1fr);
	}
	.about-title {
		margin-top: 0;
	}
	.about-img img {
		margin-left: 0;
	}
	.about-text p {
		margin: 1.8rem 10px;
		opacity: 0.8;
	}
}
