.search-form {
	width: 100%;
	max-width: 680px;
}

.search-form-elem {
	padding: 1.4rem 2.8rem;
	border-radius: 3.8rem;
}

.form-control {
	width: 450px;
}

.search-form-elem .form-control {
	font-size: 2rem;
	padding: 0.6rem;
}

.search-form-elem .form-control:focus {
	outline: none;
	border: 2px solid blue;
	box-shadow: 0 0 10px blue;
	font-weight: bold;
}

.search-form-elem .form-control::placeholder {
	opacity: 0.9;
}

@media screen and (max-width: 480px) {
	.search-form {
		max-width: 100%;
	}

	.form-control {
		width: 100%;
	}

	.search-form-elem {
		padding: 2rem 2.4rem;
	}

	.search-form-elem .form-control {
		font-size: 1.2rem;
		padding: 0.4rem;
		font-weight: bold;
	}
}
