.booklist,
.book-details {
	position: relative;
	padding: 3rem 0;
	overflow: hidden;
}

/* edited BookList.css to avoid duplicated background-image (history and bookmark) */

.booklist::before,
.book-details::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url('../../images/home.webp');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(5px); /* Adjust the blur intensity by changing the pixel value */
	z-index: -1;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2rem;
}

.section-title h2 {
	color: #fff;
}

.booklist-content {
	gap: 3rem;
}

.book-item {
	padding: 2rem 1.5rem;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 15px 0px;
	transition: var(--transition);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.book-item:hover {
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.book-item-img img {
	max-width: 180px;
	margin-right: auto;
	margin-left: auto;
}

.book-item-info {
	margin-top: 2rem;
	text-align: center;
}

.book-item-info-item.title {
	line-height: 1.4;
	margin-bottom: 0.8rem;
}

.book-item-info-item.author {
	line-height: 1.4;
	margin-bottom: 4px;
}

.book-item-info-item:not(.book-item-info-item.title) span:last-child {
	opacity: 0.8;
}

.book-item-info-item.publish-year {
	opacity: 0.6;
	font-style: italic;
	font-size: 14px;
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2rem 0;
}

.pagination-button {
	display: inline-block;
	background-color: var(--white-color);
	color: var(--dark-color);
	border: 1px solid var(--dark-color);
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	margin: 0 0.25rem;
	cursor: pointer;
	transition: var(--transition);
	font-size: 1.8rem;
	border-radius: 4px;
}

.pagination-button:hover {
	background-color: var(--blue-color);
	color: var(--white-color);
}

.book-filter-input {
	width: 100%;
	max-width: 600px;
	margin-bottom: 2rem;
	display: block;
	padding: 0.8rem;
	border-radius: 4px;
	border: 1px solid #ccc;
}

.book-filter-input:focus {
	outline: none;
	border-color: var(--blue-color);
	box-shadow: 0 0 5px var(--blue-color);
}

@media screen and (min-width: 768px) {
	.pagination-button {
		width: 3.5rem;
		height: 3.5rem;
		line-height: 2.5rem;
	}
}

@media screen and (min-width: 600px) {
	.booklist-content {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 992px) {
	.booklist-content {
		grid-template-columns: repeat(3, 1fr);
	}
	.book-item-img img {
		max-width: 150px;
	}
}

@media screen and (min-width: 1200px) {
	.booklist-content {
		grid-template-columns: repeat(4, 1fr);
	}
	.book-item-img img {
		max-width: 120px;
	}
}
