.header-content {
	min-height: 75vh;
	background: linear-gradient(rgba(141, 39, 174, 0.3), rgba(141, 39, 174, 0.5)),
		url('../../images/library3.gif') center/cover no-repeat;
	flex-direction: column;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	overflow: auto;
}
.header-title {
	font-size: 4.2rem;
}
.header-text {
	margin-top: -1.8rem;
	margin-bottom: 2.8rem;
	opacity: 0.8;
	max-width: 770px;
}

.header-text a {
	color: white;
}
/* 
.star-canvas {
	position: 'absolute';
	z-index: 0;
}

.paladin-book {
	position: 'relative';
	z-index: 1;
	margin-top: '100px';
} */

@media screen and (max-width: 480px) {
	.header-title {
		font-size: 2.5rem;
	}
	.header-text {
		font-size: 1rem;
		margin-top: -1rem;
		margin-bottom: 1.5rem;
	}
}
