.root-style-bookmark {
	max-width: 800px;
	margin: 20px auto;
	text-align: center;
}

.no-bookmark-message {
	margin-bottom: 10px;
}

.bookmark-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

.book-image {
	width: 80px;
	height: 120px;
	object-fit: contain;
	margin-right: 10px;
}

.book-details {
	flex-grow: 1;
}

.book-title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}

.book-author {
	font-size: 14px;
	margin-bottom: 5px;
}

.book-edition-count,
.book-first-publish-year {
	font-size: 12px;
	margin-bottom: 5px;
}

.book-checkbox {
	margin-right: 10px;
}

.remove-bookmark-button {
	margin-left: 10px;
}

.download-button-container {
	margin-bottom: 20px;
}

.download-button {
	padding: 10px;
	border-radius: 5px;
	background-color: #3f51b5;
	color: #fff;
	border: none;
	cursor: pointer;
}

.download-button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}
